
/* Color Theme Swatches in Hex */
.Natureza-1-hex { 
    background-color: #4F4D8C; 
    margin-bottom: 1.5rem; }
.Natureza-2-hex {
     background-color: #5F5DA6;
     margin-bottom: 1.5rem; }
.Natureza-3-hex {
     background-color: #8F8EBF;
     margin-bottom: 1.5rem; }
.Natureza-4-hex { background-color: #2E4159; 
     margin-bottom: 1.5rem;}
.Natureza-5-hex { background-color: #262626; 
     margin-bottom: 1.5rem;
    color: #fff;}

.color {
    color: #fff;
}

a {
    text-decoration: none;
}