* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

header h1 {
    text-align: center;
    padding: 2rem;
    background-color: #3F6473;
    color: #E4EDF2;
    font-weight: 700;
}


.nav {
    background-color: #403D40;
}

.Home{
    background-color: #6A9BA6;
}
.nav a {
    color: #E4EDF2;
}

.nav-item:hover{
    background-color: #BFBFBF;
    
}

.nav-item a:hover{
    color:#403D40 ;
 }


main {
    background-color:#c9d0d4;
    display: flex;
}

.container {
    background-color:#BFBFBF;
    display: flex;
    margin: 2rem;
}







 .container-fluid {
    background-color: #403D40;
    text-align: center;
    padding: 1.5rem;
    color: #E4EDF2;
 }